* {
    padding: 0px;
    margin: 0px;
}
body {
    width: 1020px;
}

/* header */

.header__nav a {
    font-family:  "Lato", sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.header__nav a:hover {
    color: #2eb398;
}

.header__nav--about-link {
    margin-right: 150px;
}

.header__nav {
    padding: 33px 0 23px 0;
    background-color: #323232;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header__nav--footer-link::after {
    content: "";
    width: 410px;
    border-bottom: 1px solid #e4e9eb;
    position: absolute;
    left: 580px;
    top: 87px;
}

.header__nav--portfolio-link::after {
    content: "";
    width: 410px;
    border-bottom: 1px solid #e4e9eb;
    position: absolute;
    left: 30px;
    top: 87px;
}

.dot {
    display: inline-block;
    color: #fff;
    margin-right: 12px;
    margin-left: 12px;
}

.header__logo {
    height: 55px;
    display: inline-block;
    position: absolute;
    left: 477px; 
}

.header__treangle {
    display: flex;
    justify-content: center;
}

.header__treangle--figure { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 52px 0 52px;
    border-color: #323232 transparent transparent transparent; 
    text-align: center;
    display: inline-block;
} 

/* portfolio */

.hexagon {
    width: 178px;
    height: 208px;
    margin-right: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}

.row-1 .hexagon:last-child {
    margin-right: 0px;
}

.row-2 .hexagon:last-child {
    margin-right: 0px;
}

.row-3 .hexagon:last-child {
    margin-right: 0px;
}

.hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background-repeat: no-repeat;
    background-position: 50%;
}

.row-1 {
    position: relative;
    top: 65px;
    left: 120px;
    width: 784px;
}

.row-1::before {
    content: "";
    height: 100px;
    border-left: 1px solid #e4e9eb;
    position: absolute;
    left: -18px;
    top: 53px;
}

.row-1::after {
    content: "";
    height: 100px;
    border-left: 1px solid #e4e9eb;
    position: absolute;
    left: 800px;
    top: 53px;
}

.row-2 {
    position: relative;
    top: 25px;
    left: 20px;
}

.row-3 {
    position: relative;
    top: -10px;
    left: 120px;
}

.row-3::before {
    content: "";
    height: 100px;
    border-left: 1px solid #e4e9eb;
    position: absolute;
    left: -18px;
    top: 53px;
}

.row-3::after {
    content: "";
    height: 100px;
    border-left: 1px solid #e4e9eb;
    position: absolute;
    left: 800px;
    top: 53px;
}

.background-1 {
    background-image: url('../assets/Layer 33@1x.png');
}

.background-2 {
    background-image: url('../assets/Layer 31@1X.png');
}
.background-3 {
    background-image: url('../assets/Layer 34@1X.png');
}
.background-4 {
    background-image: url('../assets/Layer 35@1X.png');
}
.background-5 {
    background-image: url('../assets/Layer 36@1X.png');
}
.background-6 {
    background-image: url('../assets/Layer 44@1X.png');
}
.background-7 {
    background-image: url('../assets/Layer 37@1X.png');
}
.background-8 {
    background-image: url('../assets/Layer 38@1X.png');
}
.background-9 {
    background-image: url('../assets/Layer 39@1X.png');
}
.background-10 {
    background-image: url('../assets/Layer 40@1X.png');
}
.background-11 {
    background-image: url('../assets/Layer 41@1X.png');
}
.background-12 {
    background-image: url('../assets/Layer 43@1X.png');
}
.background-13 {
    background-image: url('../assets/Layer 42@1X.png');
}

.portfolio__nav {
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio__nav::after {
    content: "";
    width: 960px;
    border-bottom: 1px solid #e4e9eb;
    margin-top: 12px;
    margin-bottom: 10px;
    display: inline-block;
}

.portfolio__nav--item {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 3px;
    background-color: #ddd2c5;
}

.portfolio__nav--item:nth-child(3) {
    background-color: #8b8784;
}

/* info */

.info {
    background-color: #2eb398;
    color: #d7fcf5;
    height: 340px;
}

.info__article {
    display: flex;
    padding-top: 67px;
    padding-left: 120px;
}

.man-photo {
    background-image: url("../assets/manlogo.png");
}

.info__article::before {
    content: "";
    height: 316px;
    border-right: 1px solid #219d84;
    position: relative;
    left: -20px;
    top: -55px;
}

.info__article::after {
    content: "";
    height: 316px;
    border-right: 1px solid #219d84;
    position: relative;
    left: 20px;
    top: -55px;
}

.info__article__text {
    width: 580px; 
    display: flex;
    flex-direction: column;
}

.info__article--heading {
    font-size: 30px;
    font-family: "Maven Pro", sans-serif;
}

.info__article--heading--post {
    font-size: 18px;
    color: #20816d;
    margin-bottom: 15px;
}

.info__article--description {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    text-align: justify;
    hyphens: auto;
}

.info__article--social-networks {
    display: flex;
    align-self: flex-end;
}

.info__article--social-networks a {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.facebook {
    background-image: url('../assets/Facebook@1X.png');
    height: 24px;
    width: 25px;
}

.facebook:hover {
    background-image: url('../assets/Facebook.png');
}

.twitter {
    background-image: url('../assets/Twitter@1X.png');
}

.twitter:hover {
    background-image: url('../assets/Twitter.png');
}

.google {
    background-image: url('../assets/Google@1X.png');
    height: 24px;
    width: 25px;
}

.google:hover {
    background-image: url("../assets/Google.png");
}

.pinterest {
    background-image: url('../assets/Pinterest@1X.png');
}

.pinterest:hover {
    background-image: url("../assets/Pinterest.png");
}

.linkedin {
    background-image: url('../assets/Linkedin@1X.png');
    height: 24px;
    width: 25px;
}

.linkedin:hover {
    background-image: url("../assets/Linkedin.png");
}

.dribbble {
    background-image: url('../assets/Dribbble@1X.png');
}

.dribbble:hover {
    background-image: url("../assets/Dribbble.png");
}

.info::after {
    content: "";
    width: 960px;
    border-bottom: 1px solid #2b2b2b;
    display: inline-block;
    position: relative;
    left: 30px;
    top: -40px;
}

/* footer */

.input-name, .input-email, .input-subject, .input-defenition {
    background-color: #454545;
}
.in-touch-form h1{
    font-family: "Maven Pro";
    font-size: 30px;
    color: rgba(224, 224, 224, 255);
    text-align: justify;
    margin-left: 121px;
    margin-top: 67px;
    height: 22px;
    font-weight: normal;
}
.in-touch-form p{
    font-family: "Maven Pro";
    font-weight: normal;
    font-size: 18px;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
    margin-left: 123px;
    margin-top: 8px;
    height: 17px;
}
.input-name {
    font-family: "Lato";
    font-size: 12px;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
    width: 88px;
    height: 12px;
    padding: 13px 477px 13px 15px;
    margin-top: 20px;
    margin-left: 120px;
    
}
.input-email {
    font-family: "Lato";
    font-size: 12px;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
    width: 88px;
    height: 12px;
    padding: 13px 477px 13px 15px;
    margin-top: 16px;
    margin-left: 120px;
}
.input-subject {
    font-family: "Lato";
    font-size: 12px;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
    width: 40px;
    height: 12px;
    padding: 13px 526px 13px 14px;
    margin-top: 16px;
    margin-left: 120px;
}
.input-defenition {
    font-family: "Lato";
    font-size: 12px;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
    height: 12px;
    width: 150px;
    padding: 13px 416px 125px 14px;
    margin-top: 16px;
    margin-left: 120px;
}

.button-submit {
    font-family: "Lato";
    font-weight: bold;
    font-size: 12px;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
    background-color: #2eb398;
    padding: 14px 30px;
    margin: 16px 320px 65px 610px;
    border: 0px none;
}

footer {
    display: grid;
    grid-template-areas: "form quote"
                        "form contacts"
                        "copywrite copywrite";
    grid-template-columns: 720px 300px;
    grid-template-rows: 251px 313px 43px;
    background-color: #323232;
    grid-gap: 0;
}

fieldset {
    border: 0 none;
    padding: 0px;
    margin: 0px;
}

input {
    border: 0 none;
}

textarea {
    border: 0 none;
    overflow: hidden;
    resize: none;
}

.in-touch-form {
    grid-area: form;
}

.latin-quote {
    grid-area: quote;
    margin: 126px 120px 0px 0px;
    width: 180px;
    height: 117px; 
    font-family: "Lato";
    font-size: 12px;
    color: rgba(224, 224, 224, 255);
    text-align: justify;
    line-height: 23px;
    
}

.bold {
    font-weight: bold;
}

.contacts {
    font-family: "Lato";
    font-weight: bold;
    font-size: 12px;
    color: rgba(190, 190, 190, 255);
    grid-area: contacts;
}
.contacts__location .contacts__location--adress {
    display: inline-block;
}
.contacts__location .—Åontacts__location--img {
    height: 11px;
    width: 7px;
    margin-right: 14px; 
    display: inline-block;
}
.contacts__location {
    margin: 46px 36px 0px 2px;
}
.contacts__number {
    margin: 10px 0px 0px 1px;
}
.contacts__number .contacts__number--img {
    height: 11px;
    width: 11px;
    margin-right: 12px;
    display: inline-block;
}
.contacts__number .contacts__number--tel-number {
    display: inline-block;
}
.contacts__e-mail {
    margin: 13px 0px 0px 0px;

}
.contacts__e-mail .contacts__e-mail--img {
    height: 8px;
    width: 13px;
    margin-right: 11px;
    display: inline-block;
}

.contacts__e-mail--mail, .contacts__number--tel-number {
    display: inline-block;
    text-decoration: none;
    color: rgba(190, 190, 190, 255);
}

.copyright-text {
    padding: 13px 826px 14px 39px;
    color: #454545;
    font-size: 12px;
    display: inline-block;
}

.copyright { 
    grid-area: copywrite;
    display: grid;
    background-color: #222222;
    
}

.copyright:before {
    content: "";
    width: 960px;
    border-top: 1px solid #2b2b2b;
    position: relative;
    top: -13px;
    left: 30px;
}